/* CSS HEX */
:root {
  --white: #ffffffff;
  --rich-black-fogra-29: #00171fff;
  --prussian-blue: #003459ff;
  --cg-blue: #007ea7ff;
  --carolina-blue: #00a8e8ff;
}

.expenses {
  padding: 1rem;
  background-color: var(--cg-blue);
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
}
