/* CSS HEX */
:root {
  --white: #ffffffff;
  --rich-black-fogra-29: #00171fff;
  --prussian-blue: #003459ff;
  --cg-blue: #007ea7ff;
  --carolina-blue: #00a8e8ff;
}

.new-expense__controls {
  color: var(--white);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.new-expense__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.new-expense__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.new-expense__actions {
  text-align: right;
}
